.course{
    margin: 50px 0;
    .course__descrition{
        padding-top: $pd-2;
        .course__descrition--content{
            width: 100%;
            height: 100%;
            padding: 0 $pd-4;
    
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-gray-5;
            h3{
                @include styleText($color-black-0,$fs-2 - 1,$fw-bold-1);
            }
            p{
                @include styleText($color-black-0,$fs-0 + 1,$fw-normal);
            }
        }
    }
    .course__content{
        padding: 0;
        margin: 0;
        .nav{
            flex-wrap: nowrap;
            border-bottom: 1px solid $color-gray-6;
            .nav-link{
                @include styleText($color-black-0,$fs-0,$fw-normal);
                position: relative;
                padding: ($pd-1+1) ($pd-1+2);
            }
            .active{
                background-color: $color-white-0;
                @include styleText($color-black-0,$fs-0,$fw-normal);
                &::after{
                    content: "";
                    width: 100%;
                    height: 5px;
                    background-color: $color-blue;
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
    
        }
    
    }
    .course__item{
        @include styleCourse();
    }
}
@include responsive("mid-medium") {
    .course{
        .course__content{
            .nav {
                .nav-link{
                    font-size: $fs-1;
                    padding: $pd-1 $pd-0;
                }
            }
        }
    }
}
