.student{
    background: $color-white-cream;
    padding: $pd-4 0;
}
.student__content{
    width: 87%;
    margin: 0 auto;
    .student__item{
        border: 1px solid $color-white-cream;
        padding: 0 $pd-1;
        .student__item--content{
            background-color: $color-white-0;
            padding: $pd-4;
            height: 100%;
            .student__item--img{
                text-align: center;
                margin-right: $pd-2;
            }
            .student__item--text{
                h4{
                    @include styleText($color-black-0,$fs-2,$fw-bold-1)
                }
                p{
                    @include styleText($color-gray-4,$fs-1 + 3,$fw-bold-2)
                }
            }
        }
        
    }
}
@include responsive("out-extra") {
    //content
    .student__content{
        width: 100%;
    }
}
@include responsive("large") {
    //content
    .student__item--text{
        text-align: center;
    }
}